.footer {
  &__title {
    @include font(15px, 600, $dark-color, 126%);
    text-transform: uppercase;
    margin-bottom: 3px;
    width: 230px;

    @include _1024 {
      font-size: 13px;
      line-height: 139%;
      margin-bottom: 0;
    }
  }
  &__confid {
    @include font(12px, 500, $dark-color, 123%, $second-font);
    display: block;
    margin-bottom: 25px;

    &:first-child {
      @include _1024 {
        margin-right: 90px;
      }
    }

    &:last-child {
      @include _1024 {
        margin-left: auto;
      }
    }

    &_wrapp {
      margin-bottom: -25px;

      @include _640 {
        @include flex(space-between);
      }

      @include _1024 {
        @include flex(flex-start);
      }
    }
  }

  &__topblock {
    margin-bottom: 50px;

    @include _640 {
      @include flex();
      margin-bottom: 41px;
    }
  }

  &__social {
    @include flex(space-between, flex-end);

    @include _640 {
      flex-grow: 1;
      align-items: center;
    }

    &_block {
      @include flex(flex-start);
    }

    .feedback__telegramm {
      svg {
        width: 25px;
        height: 25px;
        fill: $dark-color;
      }
    }

    .feedback__viber {
      @extend .feedback__telegramm;
      margin-left: 30px;
    }
  }

  &__button {
    @include hidden;
    @include _768 {
      @include visible(flex);
    }
  }

  .header {
    @include flex(space-between);
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include _640 {
    }

    @include _1024 {
      margin-bottom: 45px;
    }

    .address__wrapper,
    .schedule__wrapper {
      @include visible(flex);
      order: 2;
      margin-bottom: 30px;
      width: 100%;

      @include _640 {
        width: 50%;
      }

      @include _1024 {
        margin-bottom: 0;
        width: auto;
      }
    }

    .logo__link,
    .tel__wrapper {
      order: 1;
      margin-bottom: 50px;

      @include _640 {
        width: 50%;
        justify-content: flex-start;

        .tel__manager {
          margin-left: auto;
        }
      }

      @include _1024 {
        margin-bottom: 0;
        width: auto;
      }
    }

    .tel__wrapper {
      @include _1024 {
        order: 3;
      }
    }

    .schedule__icon {
      @include _640 {
        margin-left: auto;
      }
    }

    .schedule__text {
      @include _640 {
        width: auto;
        text-align: end;
      }

      @include _1024 {
        text-align: start;
      }
    }
  }
}
