// ====COLOR====

$dark-color: #c75671;
$semi-dark-color: #de6682;

$medium-color: #ea91a5;
$semi-medium-color: #f3d2e0;

$light-color: #ffffff;
$semi-light-color: #f3eaed;

$accent-color: #f79967;
$semi-accent-color: #f6cea9;

// ====FONT====

$main-font: 'Raleway', sans-serif;
$second-font: 'Montserrat', sans-serif;
