.header {
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    @include flex(space-between);
  }

  .tel {
    &__wrapper {
      @include flex();
    }

    &__manager {
      height: 31px;
      width: 31px;
      @include border($semi-medium-color);
      border-radius: 100%;
      margin-right: 4px;

      @include _1024 {
        margin-right: 9px;
      }
    }
    &__link {
      @include font(14px, 600, $dark-color, 112%, $second-font);

      @include _300 {
        font-size: 11px;
      }
    }
  }

  .address {
    &__wrapper {
      @include hidden;

      @include _1024 {
        @include visible('flex');
        @include flex(center, flex-start);
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      stroke: $accent-color;
      fill: none;
      margin-top: 3px;
      margin-right: 5px;
    }

    &__text {
      width: 210px;
      @include font(12px, 500, $semi-dark-color, 133%);
    }
  }

  .schedule {
    &__wrapper {
      @include hidden;

      @include _1024 {
        @include visible('flex');
        @include flex(center, flex-start);
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      stroke: $accent-color;
      fill: none;
      margin-top: 3px;
      margin-right: 5px;
    }

    &__text {
      width: 245px;
      @include font(12px, 500, $semi-dark-color, 133%);
    }
  }
}
