.nav {
  background-color: $dark-color;

  .container {
    background-color: $dark-color;
    padding-top: 0;
    padding-bottom: 0;

    position: relative;
  }

  &__nav {
    @include hidden;

    @include _1024 {
      @include visible('flex');
    }
  }

  &__list {
    @include flex();
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &:hover .nav__item:before {
      scale: 1;
    }
    &:hover .nav__item:has(~ &__item:hover):before {
      translate: 100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
    &:hover .nav__item:hover ~ .nav__item:before {
      translate: -100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
  }

  &__item {
    cursor: pointer;
    height: 70px;
    @include flex();

    &.multi-link:hover .nav__sublist.menu {
      @include visible('flex');
    }

    &.multi-link:hover .nav__icon {
      transform: rotate(180deg);
      transition: all 0.2s ease-out;
    }

    &.accent {
      overflow: visible;
      height: min-content;
    }

    &:first-child {
      margin-left: -12px;
    }

    &:last-child {
      margin-right: -12px;
    }
  }

  &__link {
    @include font(15px, 600, $light-color, 109%);
    @include flex(space-between);
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 12px;

    @include _1024-1100 {
      padding-left: 8px;
      padding-right: 8px;
    }

    &.accent {
      background-color: $semi-dark-color;
      height: 30px;
      border-radius: 100px;
      padding-bottom: 7px;
      transition: all 0.2s ease;
      position: relative;

      &:active {
        transform: scale(0.96);
      }

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 150%;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        z-index: -1000;
        background-repeat: no-repeat;
      }

      &:hover:before {
        z-index: 1;
        top: -70%;
        background-image: radial-gradient(
            circle,
            $semi-dark-color 20%,
            transparent 20%
          ),
          radial-gradient(
            circle,
            transparent 20%,
            $semi-dark-color 20%,
            transparent 30%
          ),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(
            circle,
            transparent 10%,
            $semi-dark-color 15%,
            transparent 20%
          ),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
          15% 15%, 10% 10%, 18% 18%;
        background-position: 50% 120%;
        animation: greentopBubbles 0.6s ease;
      }

      @keyframes greentopBubbles {
        0% {
          background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%,
            25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }

        50% {
          background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
        }

        100% {
          background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%,
            22% 40%, 50% 40%, 65% 10%, 90% 20%;
          background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
      }

      &:hover::after {
        z-index: 1;
        bottom: -70%;
        background-image: radial-gradient(
            circle,
            $semi-dark-color 20%,
            transparent 20%
          ),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(
            circle,
            transparent 10%,
            $semi-dark-color 15%,
            transparent 20%
          ),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%),
          radial-gradient(circle, $semi-dark-color 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%,
          18% 18%;
        background-position: 50% 0%;
        animation: greenbottomBubbles 0.6s ease;
      }

      @keyframes greenbottomBubbles {
        0% {
          background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
        }

        50% {
          background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%,
            95% 60%, 105% 0%;
        }

        100% {
          background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%,
            95% 70%, 110% 10%;
          background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
      }
    }

    &:not(.accent):hover {
      color: $semi-accent-color;
    }
  }

  &__sublist.menu {
    padding-top: 36px;
    padding-bottom: 50px;
    align-items: flex-start;
    @include hidden;
    position: absolute;
    max-width: 1284px;
    left: 0;
    right: 0;
    top: 70px;
    z-index: z('subtitle');
    background-color: $semi-light-color;
    border-radius: 0 0 77px 10px;

    .menu__wrapp {
      margin-bottom: 0;
    }
  }

  &__close {
    @include button(false);
    padding-top: 10px;
    padding-bottom: 10px;
    @include visible;

    @include _1024 {
      @include hidden;
    }

    &_burger {
      position: relative;
      width: 26px;
      height: 22px;
      background: transparent;
      cursor: pointer;
      display: block;
    }

    input {
      display: none;

      &:checked ~ span:nth-of-type(1) {
        transform: rotate(36deg);
        top: 1px;
        left: 0px;
      }

      &:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }

      &:checked ~ span:nth-of-type(3) {
        transform: rotate(-38deg);
        top: 17px;
        left: 0px;
      }
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $light-color;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }

      &:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
    }
  }

  &__icon {
    width: 13px;
    height: 8px;
    stroke: $medium-color;
    fill: none;
    margin-left: 13px;
    transition: all 0.2s ease-out;

    @include _1024-1100 {
      margin-left: 6px;
    }
  }

  .button {
    &__wrapper {
      @include flex(space-between);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__search {
      @include hidden;
      margin-right: 10px;

      @include _1024 {
        @include visible('flex');
      }

      svg {
        width: 22px;
        height: 22px;
        stroke: $semi-medium-color;
        fill: none;

        @include _1024 {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 $medium-color;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.language {
  &__wrapper {
    @include flex(space-between);
    @include font(15px, 600, $semi-medium-color, 109%);
    margin-right: 20px;
    @include hidden;

    @include _1024 {
      @include visible('flex');
    }
  }
  &__button {
    padding-left: 2px;
    padding-right: 2px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include font(15px, 600, $semi-dark-color, 109%);

    * {
      cursor: pointer;
    }

    input {
      @include hidden;
    }

    input:checked ~ label {
      color: $semi-medium-color;
    }
  }
  &__slash {
    padding-left: 2px;
    padding-right: 2px;
    color: $semi-dark-color;
  }
}

.navmobile {
  display: block;
  opacity: 1;
  transition: all 2s linear;

  @include _1024 {
    display: none;
    opacity: 0;
  }

  &__container {
    z-index: z('mobile-menu');
  }
  &.container {
    background-color: $semi-light-color;
    z-index: -1;
    display: none;
    transform: translateY(-200%);
    padding-bottom: 50px;
    padding-top: 30px;
    transition: all 2s linear;

    .mobile-menu-open & {
      @include flex(center, flex-start);
      flex-direction: column;
      transform: translateY(0);
      transition: all 2s linear 0.3s;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 30px;
    &_icon {
      height: 22px;
      width: 22px;
      stroke: $semi-dark-color;
      fill: none;
      position: absolute;
      left: 12px;
      @include Ñentering-y;
    }
    &_input {
      height: 39px;
      width: 100%;
      border-radius: 100px;
      padding: 17px 19px;
      background-color: $semi-medium-color;
      border: none;
      padding-left: 45px;

      &::placeholder {
        @include font(12px, 400, $medium-color, 112%);
      }
    }
  }

  &__nav {
    margin-bottom: 30px;

    &_item {
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &_link {
      @include font(14px, 700, $dark-color, 112%);
      text-transform: uppercase;
    }
  }

  &__service {
    &_wrapp {
      &:hover .navmobile__service_list {
        max-height: 1000px;
        transition: all 1s ease-in;
        margin-top: 30px;
        padding-bottom: 10px;
      }

      &:hover .navmobile__service_label > .navmobile__service_icon {
        transform: rotate(90deg);
        transition: all 1s ease-in;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &_title {
      @include font(13px, 400, $medium-color, 121%);
      margin-bottom: 20px;
    }

    &_label {
      @include font(18px, 700, $dark-color, 112%);
      text-transform: uppercase;
      @include flex(flex-start);
    }

    &_icon {
      width: 9px;
      height: 14px;
      stroke: $semi-dark-color;
      margin-left: 8px;

      transition: all 1s ease-in 1s;
    }

    &_checkbox {
      visibility: hidden;
      display: none;
    }

    &_list {
      overflow: hidden;
      max-height: 0;
      transition: all 1s linear 4s;
    }

    &_link {
      @include font(15px, 600, $dark-color, 140%);
      padding: 5px 0;
      display: block;

      &:hover {
        color: $accent-color;
      }
    }
  }

  &__language {
    .language__wrapper {
      @include visible(flex);
      margin-right: 0;
      margin-top: 30px;
      margin-bottom: 30px;

      .language__button:first-child {
        margin-right: 26px;
      }

      .language__button input ~ label {
        color: $medium-color;
      }

      .language__button input:checked ~ label {
        color: $semi-dark-color;
      }
    }
  }

  & .address__wrapper {
    @include visible(flex);
    margin-bottom: 20px;
  }

  & .schedule__wrapper {
    @include visible(flex);
  }
}

.mobile-response {
  overflow: hidden;
  position: relative;
}

.mobile-menu-open {
  position: fixed;
  top: 0;
  z-index: z('mobile-menu');
  left: 0;
  right: 0;
  overflow: auto;
  bottom: 0;
  background-color: $semi-light-color;
}

.button__online {
  margin-left: 17px;
  width: 118px;
  font-size: 10px;
  font-weight: 700;
  background-size: 100% auto;
  text-transform: uppercase;

  &:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }

  @include _1024 {
    margin-left: 10px;
    width: 172px;
    font-size: 14px;
  }
}
