.carusel {
  position: relative;
  overflow: hidden;
  width: 100%;

  //del
  &__wrapper {
    @include flex(center, flex-start);
    flex-wrap: nowrap;
    @include pos(absolute, 0, auto, 0, 0);
    transition: all 0.2s ease-in;
  }

  &__buttonwrapper {
    width: 100%;

    @include _1024 {
      width: auto;
      @include flex(space-between);
      flex-direction: row-reverse;
    }
  }

  &__buttonblock {
    @include flex(space-between);

    @include _1024 {
      flex-direction: row-reverse;
      width: auto;
    }
  }

  &__controllers {
    @include flex();
  }

  &__btn {
    background-color: $medium-color;

    &.left {
      transform: rotate(-135deg);
      margin-right: 18px;
    }
    &.right {
      transform: rotate(45deg);
    }
  }

  &__icon {
    height: 19px;
    width: 19px;
    fill: $light-color;

    @include _1024 {
      width: 24px;
      height: 24px;
    }
  }

  &__linkAll {
    width: 173px;
    background-color: $light-color;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: $light-color;
    }

    @include _1024 {
      margin-right: 20px;
      width: 234px;
    }

    &_text {
      color: $light-color;
      position: relative;
      z-index: 2;
      transition: color 0.4s;

      @include _1024 {
        font-size: 17px;
      }
    }

    &:hover &_text {
      color: $semi-dark-color;
    }

    @include animation-bg-left-to-right($medium-color);
  }

  &__accentbtn {
    @extend .button-text;
    margin: 0;
    min-width: 120px;
    overflow: hidden;

    @include _1024 {
      font-size: 16px;
      min-width: 212px;
    }

    &:hover {
      background-color: $accent-color;
      .carusel__accentbtn_text {
        transform: translateX(8px);
      }
      .carusel__accentbtn_icon {
        visibility: visible;
        left: 12px;
      }
    }

    &_icon {
      width: 18px;
      height: 18px;
      stroke: $light-color;
      fill: none;
      transition: all 0.2s linear;
      @include сentering-y;
      left: 12px;

      @include _1024 {
        width: 28px;
        height: 28px;
        visibility: hidden;
        @include сentering-y;
        left: -30px;
      }
    }

    &_text {
      transition: all 0.2s linear;
      margin: 0 25px;
      transform: translateX(8px);
      max-width: 90px;

      @include _640 {
        max-width: fit-content;
      }

      @include _1024 {
        transform: translateX(0);
        margin: 0 34px;
        flex-shrink: 0;
      }
    }
  }
}
