.banner {
  &.section {
    background-color: $semi-dark-color;
  }

  .container {
    padding-top: 0;

    @include _1024 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__wrapper {
    position: relative;

    @include _1024 {
      @include flex(flex-start, flex-start, column);
      flex-wrap: wrap;
      height: 410px;
      padding-bottom: 4px;
    }

    @include _1248 {
      padding-bottom: 0;
      height: 508px;
    }
  }
  &__image {
    border-radius: 25px 8px 8px 8px;
    height: 221px;
    width: 275px;
    margin-bottom: 23px;
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 48px;
      @include pos(absolute, auto, 0, -4px, 0);
      z-index: 1;
      background: linear-gradient(rgba(226, 107, 135, 0) 0%, #de6682 100%);
    }

    @include _1024 {
      order: 4;

      width: 500px;
      height: auto;
      margin-bottom: 0;

      &::before {
        height: 88px;
      }
    }

    @include _1248 {
      width: 621px;
      height: 503px;
    }
  }

  &__textblock {
    margin-bottom: 34px;
    max-width: 243px;

    @include _1024 {
      max-width: 465px;
      order: 1;
      margin-bottom: 20px;
    }

    @include _1248 {
      margin-bottom: 42px;
    }
  }

  &__title {
    @include font(21px, 600, $light-color, 112%);
    margin-bottom: 15px;
    text-transform: uppercase;

    &.accent {
      display: block;
      margin-bottom: 0;
      margin-top: 0;
      @include font(21px, 600, $semi-accent-color, 112%, $second-font);
    }

    @include _1024 {
      margin-top: 25px;
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 20px;

      &.accent {
        font-size: 44px;
      }
    }

    @include _1248 {
      margin-top: 53px;
    }
  }

  &__subtitle {
    @include font(12px, 400, $light-color, 112%);
    margin-bottom: 20px;

    @include _1024 {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &__price {
    @include font(23px, 600, $semi-accent-color, 112%, $second-font);
    text-transform: uppercase;

    @include _1024 {
      font-size: 44px;
    }

    &_currant {
      @include font(13px, 600, $semi-accent-color, 112%);
      letter-spacing: 0.03em;
      margin-left: 2px;

      @include _1024 {
        font-size: 20px;
      }
    }

    &.accent {
      @include font(19px, 500, $medium-color, 112%, $second-font);
      text-decoration: line-through;
      margin-left: 18px;

      @include _1024 {
        font-size: 38px;
        margin-left: 34px;
      }
    }
    &_currant.accent {
      @include font(11px, 500, $medium-color, 112%);
      text-decoration: none;

      @include _1024 {
        font-size: 20px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);
    max-width: 400px;

    @include _1024 {
      order: 2;
      margin-bottom: 15px;
      max-width: 100%;
      width: 465px;
      justify-content: flex-start;
    }

    @include _1248 {
      margin-bottom: 50px;
    }
  }

  &__button.register {
    width: 174px;
    @include font(13px, 600, $light-color, 112%);
    text-transform: none;
    margin-right: 10px;

    @include _1024 {
      width: 228px;
      margin-right: 23px;
      font-size: 16px;
    }
  }
  &__button.detail {
    width: 123px;
    @include font(13px, 600, $light-color, 112%);
    background-color: $medium-color;
    text-transform: none;
    @include flex();

    @include _1024 {
      width: 178px;
      font-size: 16px;
    }

    .banner__button_icon {
      width: 17px;
      height: 17px;
      margin-left: 2px;
      stroke: none;
      fill: $semi-medium-color;

      @include _1024 {
        margin-left: 14px;
        width: 21px;
        height: 21px;
      }
    }
  }

  .feedback {
    &__wrapper {
      @include flex(flex-end);
      @include pos(absolute, 147px, -120px, auto, auto);
      transform: rotate(-90deg);
      width: 260px;
      height: min-content;
      z-index: 2;

      @include _1024 {
        width: 320px;
        top: 200px;
        right: -145px;
      }
    }
    &__text {
      @include font(11px, 400, $semi-light-color, 112%, $second-font);
      margin-right: 32px;

      @include _1024 {
        font-size: 12px;
        font-weight: 500;
        margin-right: 37px;
      }
    }

    &__viber {
      margin-right: 32px;

      @include _1024 {
        margin-right: 37px;
      }
      svg {
        transform: rotate(90deg);
      }
    }

    &__telegramm {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.slider {
  &__controller {
    width: 48px;
    position: absolute;
    bottom: 75px;
    right: 0px;

    @include _1024 {
      order: 3;
      position: static;
      @include flex();
      width: auto;
    }
  }
  &__count {
    @include flex(space-between);
    @include font(12px, 500, $medium-color, 112%, $second-font);

    &_active {
      color: $semi-medium-color;
    }

    @include _1024 {
      order: 3;
      &_active {
        margin-right: 8px;
      }
      &_total {
        margin-left: 8px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);
    margin-top: 24px;

    @include _1024 {
      order: 1;
      margin-top: 0;
      margin-right: 24px;
    }
  }

  &__button {
    @include button(false, transparent);
    padding: 0;

    &_icon {
      width: 14px;
      height: 9px;
      stroke: $medium-color;
      fill: none;
    }
    &.left {
      transform: rotate(90deg);

      @include _1024 {
        margin-right: 35px;
      }
    }
    &.right {
      transform: rotate(-90deg);
      @include _1024 {
        margin-right: 25px;
      }
    }
  }

  &__dotblock {
    @include hidden;
    @include flex();
    margin-right: 28px;

    @include _1024 {
      @include visible('flex');
      order: 2;
    }
  }
  &__dot {
    width: 20px;
    height: 2px;
    @include button(false, $medium-color, 100px);
    margin-right: 12px;

    &.accent {
      background-color: $accent-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
