.banner {
  &.section {
    background-color: $semi-dark-color;
  }

  .container {
    padding-top: 0;

    @include _768 {
      padding-bottom: 0px;
    }
  }

  &__wrapper {
    position: relative;

    @include _768 {
      @include flex(space-between, flex-start);
      flex-wrap: wrap;
    }

    @include _1024 {
      padding-bottom: 0px;
    }

    @include _1248 {
    }
  }

  &__staticblock {
    @include _768 {
      @include flex(flex-start, center, column);
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 309px;
    }

    @include _1024 {
      width: 429px;
      bottom: 20px;
    }

    @include _1248 {
      bottom: 27px;
    }
  }

  &__carusel {
    cursor: pointer;

    @include _768 {
      width: 100%;
      height: 268px;
    }

    @include _1024 {
      height: 444px;
    }

    @include _1248 {
      height: 505px;
    }
  }

  &__carusel_wrapper {
    @include flex(center, center, column);
    display: flex !important;

    @include _768 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__image {
    border-radius: 25px 8px 8px 8px;
    min-height: 221px;
    min-width: 275px;
    width: 78%;
    height: auto;
    margin-bottom: 23px;
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
    }

    &::before {
      content: '';
      display: block;
      height: 48px;
      @include pos(absolute, auto, 0, -1px, 0);
      z-index: 1;
      background: linear-gradient(rgba(226, 107, 135, 0) 0%, #de6682 100%);
    }

    @include _768 {
      order: 2;
      width: 50%;
      margin-bottom: 0;
      @include flex();
      align-self: flex-start;
    }

    @include _1024 {
      order: 2;
      align-self: auto;
      width: 500px;
      height: 100%;
      margin: 0 auto;

      img {
        height: 100%;
      }

      &::before {
        height: 88px;
      }
    }
  }

  &__textblock {
    margin-bottom: 28px;
    min-width: 243px;
    width: 81%;
    max-width: 380px;
    @include flex;
    flex-direction: column;

    @include _768 {
      width: 309px;
      max-width: 309px;
      order: 1;
      padding-top: 20px;
      padding-bottom: 110px;
      margin-bottom: 0;
    }

    @include _1024 {
      padding-top: 25px;
      padding-bottom: 145px;
      width: 429px;
      max-width: 429px;
      align-items: flex-start;
    }

    @include _1248 {
      padding-top: 50px;
      padding-bottom: 180px;
      width: 465px;
      max-width: 465px;
    }
  }

  &__title {
    @include font(21px, 700, $light-color, 112%);
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;

    &.accent {
      margin-bottom: 0;
      margin-top: 0;
      @include font(21px, 600, $semi-accent-color, 112%, $second-font);
    }

    @include _1024 {
      text-align: start;
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 20px;

      &.accent {
        font-size: 44px;
      }
    }
  }

  &__subtitle {
    @include font(12px, 400, $light-color, 112%);
    margin-bottom: 20px;
    text-align: center;
    padding: 0 30px;

    @include _768 {
      padding: 0;
    }
    @include _1024 {
      text-align: start;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &__price {
    @include font(23px, 600, $semi-accent-color, auto, $second-font);
    text-transform: uppercase;

    @include _1024 {
      font-size: 44px;
    }

    &_currant {
      font-size: 13px;
      letter-spacing: 0.03em;
      margin-left: 2px;

      @include _1024 {
        font-size: 20px;
        margin-left: 7px;
      }
    }

    &.accent {
      @include font(19px, 500, $medium-color, 112%, $second-font);
      text-decoration: line-through;
      margin-left: 18px;

      @include _1024 {
        font-size: 38px;
        margin-left: 34px;
      }
    }
    &_currant.accent {
      @include font(11px, 600, $medium-color, 112%, $second-font);
      text-decoration: none;

      @include _1024 {
        font-size: 20px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);

    @include _768 {
      order: 3;
    }

    @include _1024 {
      order: 1;
      margin-bottom: 25px;
      max-width: 100%;
      width: 465px;
      justify-content: flex-start;
    }

    @include _1248 {
      margin-bottom: 56px;
    }
  }

  &__button.register {
    width: 57%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s 0.1s ease-out;
    max-width: 210px;

    &:hover {
      background-color: $accent-color;
      span {
        color: $accent-color;
      }
    }

    span {
      @include font(13px, 600, $light-color, 112%);
      z-index: 2;
    }

    &::before {
      border: 2px solid red;
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      content: '';
      border-radius: 50%;
      display: block;
      width: 350px;
      height: 350px;
      text-align: center;
      transition: box-shadow 0.5s ease-out;
      z-index: 1;
      transform: translateX(-50%);
    }

    &:hover::before {
      box-shadow: inset 0 0 0 14em $light-color;
    }

    @include _768 {
      width: 178px;
      max-width: 178px;
    }

    @include _1024 {
      width: 228px;
      margin-right: 23px;
      max-width: 228px;

      span {
        font-size: 16px;
      }
    }
  }
  &__button.detail {
    width: 41%;
    max-width: 160px;
    @include font(13px, 600, $light-color, 112%);
    background-color: $medium-color;
    transition: all 0.5s ease-out;

    @include flex();

    span {
      position: relative;
      @include flex();
      margin-left: 2px;

      @include _1024 {
        margin-left: 14px;
      }
    }

    span::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
      border-radius: 1.2px;
      background-color: $semi-medium-color;
      visibility: hidden;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      transition: all 0.2s linear;

      @include _1024 {
        width: 15px;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &:hover {
      background-color: $dark-color;

      span::before {
        visibility: visible;
        transition: all 0.2s linear 0.05s;
      }

      .banner__button_icon {
        transform: rotate(270deg) translateY(6px);
        transition: all 0.1s linear;
      }
    }

    @include _768 {
      width: 121px;
      max-width: 121px;
    }

    @include _1024 {
      width: 178px;
      max-width: 178px;
      font-size: 16px;
    }

    .banner__button_icon {
      position: relative;
      width: 12px;
      height: 12px;
      fill: none;
      stroke: $semi-medium-color;
      transform: rotate(270deg);
      transition: all 0.1s linear 0.2s;

      @include _1024 {
        width: 14px;
        height: 14px;
      }
    }
  }

  .feedback {
    &__wrapper {
      @include flex(flex-start, center, column-reverse);
      @include pos(absolute, 45px, 0px, auto, auto);
      z-index: 2;
    }
    &__text {
      @include font(11px, 400, $semi-light-color, 112%, $second-font);
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin: 0;
      height: 80px;

      @include _1024 {
        height: 180px;
        font-size: 12px;
        font-weight: 500;
      }
    }

    &__viber {
      margin-top: 32px;
      margin-bottom: 25px;
      transition: transform 0.2s;

      &:hover {
        transform: translatey(-0.25rem);
        svg {
          fill: $light-color;
        }
      }

      @include _1024 {
        margin-top: 37px;
      }
    }

    &__telegramm {
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-0.25rem);
        svg {
          fill: $light-color;
        }
      }
    }
  }

  .slick {
    &-track,
    &-slide,
    &-list {
      height: 100%;
    }

    &-dotted.slick-slider {
      margin-bottom: 0;
    }
  }
}

.slider {
  &__controller {
    width: 100%;
    @include flex();
    margin: 0 auto 22px;

    @include _768 {
      order: 4;
      width: 50%;
      margin-bottom: 0;
      margin-top: 15px;
    }

    @include _1024 {
      order: 2;
      width: auto;
      margin-top: 0;
    }
  }
  &__count {
    @include flex(space-between);
    @include font(12px, 500, $medium-color, 112%, $second-font);
    margin-right: 30px;

    &_active {
      color: $semi-medium-color;
    }

    &_slash {
      margin: 0 8px;
    }

    @include _768 {
      order: 3;
    }

    @include _1024 {
      &_active {
        margin-right: 8px;
      }
      &_total {
        margin-left: 8px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);

    button:first-child {
      margin-right: 35px;
    }

    @include _768 {
      order: 1;
      margin-right: 10px;
    }

    @include _1024 {
      margin-right: 24px;
    }
  }

  &__button {
    @include button(false, transparent);
    padding: 0;

    &:hover {
      .slider__button_icon {
        stroke: $accent-color;
        stroke-width: 2px;
      }
    }

    &_icon {
      width: 14px;
      height: 9px;
      stroke: $medium-color;
      fill: none;
      transition: all 0.2s linear;
    }
    &.left {
      transform: rotate(90deg);

      @include _1024 {
        margin-right: 35px;
      }
    }
    &.right {
      transform: rotate(-90deg);
      @include _1024 {
        margin-right: 25px;
      }
    }
  }

  &__dotblock {
    @include hidden;
    margin-right: 28px;

    @include _768 {
      @include visible();
      @include flex();
      order: 2;
      margin-right: 10px;
    }

    @include _1024 {
      margin-right: 28px;
    }

    .slick-dots {
      bottom: 0;
      display: flex;
      position: static;

      li,
      li button {
        padding: 0;
        height: 10px;
      }

      li button::before {
        background-color: $medium-color;
        border-radius: 100px;
        opacity: 1;
        width: 20px;
        height: 2px;
        @include —Åentering-y;
        content: '';
      }

      li.slick-active button {
        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
}
