.banner {
  &.section {
    background-color: $semi-dark-color;
  }

  .container {
    padding-top: 0;

    @include _768 {
      padding-bottom: 30px;
    }

    @include _1024 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__wrapper {
    position: relative;

    @include _768 {
      @include flex(space-between);
      flex-wrap: wrap;
    }

    @include _1024 {
      @include flex(flex-start, flex-start, column);

      height: 432px;
      padding-bottom: 0px;
    }

    @include _1248 {
      padding-bottom: 0;
      height: 508px;
    }
  }
  &__image {
    border-radius: 25px 8px 8px 8px;
    min-height: 221px;
    min-width: 275px;
    width: 78%;
    height: auto;
    margin-bottom: 23px;
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
    }

    &::before {
      content: '';
      display: block;
      height: 48px;
      @include pos(absolute, auto, 0, -1px, 0);
      z-index: 1;
      background: linear-gradient(rgba(226, 107, 135, 0) 0%, #de6682 100%);
    }

    @include _768 {
      order: 2;
      width: 50%;
      margin-bottom: 0;
      @include flex();
      align-self: flex-start;
    }

    @include _1024 {
      order: 4;
      align-self: auto;
      width: 500px;
      height: 100%;

      img {
        height: 100%;
      }

      &::before {
        height: 88px;
      }
    }

    @include _1248 {
      width: 621px;
      height: 503px;
    }
  }

  &__textblock {
    margin-bottom: 34px;
    min-width: 243px;
    width: 78%;

    @include _768 {
      width: 50%;
      max-width: 243px;
      order: 1;
      padding-top: 40px;
    }

    @include _1024 {
      max-width: 465px;
      order: 1;
      margin-bottom: 20px;
      padding-top: 0;
    }

    @include _1248 {
      margin-bottom: 38px;
    }
  }

  &__title {
    @include font(21px, 600, $light-color, 112%);
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;

    &.accent {
      margin-bottom: 0;
      margin-top: 0;
      @include font(21px, 600, $semi-accent-color, 112%, $second-font);
    }

    @include _768 {
      text-align: start;
    }

    @include _1024 {
      margin-top: 25px;
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 20px;

      &.accent {
        font-size: 44px;
      }
    }

    @include _1248 {
      margin-top: 50px;
    }
  }

  &__subtitle {
    @include font(12px, 400, $light-color, 112%);
    margin-bottom: 20px;
    text-align: center;

    @include _768 {
      text-align: start;
    }
    @include _1024 {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &__price {
    @include font(23px, 600, $semi-accent-color, 112%, $second-font);
    text-transform: uppercase;

    @include _1024 {
      font-size: 44px;
    }

    &_currant {
      font-size: 13px;
      letter-spacing: 0.03em;
      margin-left: 2px;

      @include _1024 {
        font-size: 20px;
        margin-left: 7px;
      }
    }

    &.accent {
      @include font(19px, 500, $medium-color, 112%, $second-font);
      text-decoration: line-through;
      margin-left: 18px;

      @include _1024 {
        font-size: 38px;
        margin-left: 34px;
      }
    }
    &_currant.accent {
      @include font(11px, 600, $medium-color, 112%, $second-font);
      text-decoration: none;

      @include _1024 {
        font-size: 20px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);

    @include _768 {
      order: 3;
      max-width: 50%;
    }

    @include _1024 {
      order: 2;
      margin-bottom: 15px;
      max-width: 100%;
      width: 465px;
      justify-content: flex-start;
    }

    @include _1248 {
      margin-bottom: 50px;
    }
  }

  &__button.register {
    width: 57%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s 0.1s ease-out;

    &:hover {
      background-color: $accent-color;
      span {
        color: $accent-color;
      }
    }

    span {
      @include font(13px, 600, $light-color, 112%);
      z-index: 2;
    }

    &::before {
      border: 2px solid red;
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      margin: auto;
      content: '';
      border-radius: 50%;
      display: block;
      width: 350px;
      height: 350px;
      text-align: center;
      transition: box-shadow 0.5s ease-out;
      z-index: 1;
      transform: translateX(-50%);
    }

    &:hover::before {
      box-shadow: inset 0 0 0 14em $light-color;
    }

    @include _768 {
      width: 178px;
    }

    @include _1024 {
      width: 228px;
      margin-right: 23px;

      span {
        font-size: 16px;
      }
    }
  }
  &__button.detail {
    width: 41%;
    @include font(13px, 600, $light-color, 112%);
    background-color: $medium-color;
    transition: all 0.5s ease-out;

    @include flex();

    span {
      position: relative;
      @include flex();
      margin-left: 2px;

      @include _1024 {
        margin-left: 14px;
      }
    }

    span::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
      border-radius: 1.2px;
      background-color: $semi-medium-color;
      visibility: hidden;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      transition: all 0.2s linear;

      @include _1024 {
        width: 15px;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &:hover {
      background-color: $dark-color;

      span::before {
        visibility: visible;
        transition: all 0.2s linear 0.05s;
      }

      .banner__button_icon {
        transform: rotate(270deg) translateY(6px);
        transition: all 0.1s linear;
      }
    }

    @include _768 {
      width: 121px;
    }

    @include _1024 {
      width: 178px;
      font-size: 16px;
    }

    .banner__button_icon {
      position: relative;
      width: 12px;
      height: 12px;
      fill: none;
      stroke: $semi-medium-color;
      transform: rotate(270deg);
      transition: all 0.1s linear 0.2s;

      @include _1024 {
        width: 14px;
        height: 14px;
      }
    }
  }

  .feedback {
    &__wrapper {
      @include flex(flex-end);
      @include pos(absolute, 147px, -120px, auto, auto);
      transform: rotate(-90deg);
      width: 260px;
      height: min-content;
      z-index: 2;

      @include _1024 {
        width: 320px;
        top: 200px;
        right: -145px;
      }
    }
    &__text {
      @include font(11px, 400, $semi-light-color, 112%, $second-font);
      margin-right: 32px;

      @include _1024 {
        font-size: 12px;
        font-weight: 500;
        margin-right: 37px;
      }
    }

    &__viber {
      margin-right: 32px;
      transition: transform 0.2s;

      &:hover {
        transform: translateX(0.25rem);
        svg {
          fill: $light-color;
        }
      }

      @include _1024 {
        margin-right: 37px;
      }
      svg {
        transform: rotate(90deg);
      }
    }

    &__telegramm {
      transition: transform 0.2s;

      &:hover {
        transform: translateX(0.25rem);
        svg {
          fill: $light-color;
        }
      }

      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.slider {
  &__controller {
    width: 48px;
    position: absolute;
    bottom: 75px;
    right: 0px;

    @include _768 {
      order: 4;
      position: static;
      @include flex();
      width: 50%;
    }

    @include _1024 {
      order: 3;
      width: auto;
    }
  }
  &__count {
    @include flex(space-between);
    @include font(12px, 500, $medium-color, 112%, $second-font);

    &_active {
      color: $semi-medium-color;
    }

    @include _768 {
      order: 3;
    }

    @include _1024 {
      &_active {
        margin-right: 8px;
      }
      &_total {
        margin-left: 8px;
      }
    }
  }

  &__buttonblock {
    @include flex(space-between);
    margin-top: 24px;

    @include _768 {
      order: 1;
      margin-top: 0;
      margin-right: 10px;
    }

    @include _1024 {
      margin-right: 24px;
    }
  }

  &__button {
    @include button(false, transparent);
    padding: 0;

    &:hover {
      .slider__button_icon {
        stroke: $accent-color;
        stroke-width: 2px;
      }
    }

    &_icon {
      width: 14px;
      height: 9px;
      stroke: $medium-color;
      fill: none;
      transition: all 0.2s linear;
    }
    &.left {
      transform: rotate(90deg);

      @include _1024 {
        margin-right: 35px;
      }
    }
    &.right {
      transform: rotate(-90deg);
      @include _1024 {
        margin-right: 25px;
      }
    }
  }

  &__dotblock {
    @include hidden;
    @include flex();
    margin-right: 28px;

    @include _768 {
      @include visible('flex');
      order: 2;
      margin-right: 10px;
    }

    @include _1024 {
      margin-right: 28px;
    }
  }
  &__dot {
    width: 20px;
    height: 2px;
    @include button(false, $medium-color, 100px);
    margin-right: 12px;

    &.accent {
      background-color: $accent-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
