.doctors {
  &.section {
    background-color: $semi-medium-color;
    overflow: hidden;
  }

  &.container {
    padding-bottom: 20px !important;

    @include _1024 {
      @include flex(space-between);
      flex-wrap: wrap;
      padding-bottom: 120px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include _1024 {
      margin-bottom: 42px;
      order: 1;
    }
  }

  &__carusel {
    position: relative;
    margin-bottom: 25px;
    height: 500px;
    overflow: visible;

    @include _1024 {
      overflow: hidden;
      order: 3;
      margin-bottom: 0;
      height: 600px;
    }
  }

  // .carusel {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  // }

  .card__wrapper {
    margin-right: 8px;

    @include _1024 {
      margin-right: 17px;
    }
  }

  .carusel__buttonblock {
    @include _1024 {
      margin-bottom: 42px;
      order: 2;
      width: auto;
      margin: 0;
      align-self: flex-start;
    }
  }
}
