.portfolio {
  &.section {
    background-color: $semi-dark-color;
  }

  &.container {
    @include flex(space-between, center);
    flex-wrap: wrap;

    @include _1024 {
      align-items: flex-end;
    }
  }

  &__wrapp {
    width: 100%;
    @include flex(center, center, column);
    order: 4;

    @include _1024 {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 30px;
      margin-top: 39px;
    }
  }

  &__title {
    color: $light-color;
    order: 1;
    width: 50%;
    margin-bottom: 0px;
  }

  &__subtitle {
    @include font(13px, 600, $semi-medium-color, 112%);
    margin-bottom: 25px;
    margin-top: 14px;
    order: 3;

    @include _1024 {
      font-size: 16px;
      font-weight: 700;
      order: 2;
      width: 50%;
      text-align: end;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  &__animation {
    flex-shrink: 0;
    width: 100%;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;

    @include _1024 {
      max-width: 544px;
      max-height: 0;
      height: 0;
      margin: 0;
      padding-right: 16px;
      @include retinacontainer-width(calc(48%));
    }

    &_inner {
      @include retinacontainer-height(87.2%);
    }
    &_content {
      @include retinacontainer-content;
    }

    .slick-list,
    .slick-track,
    .slick-slide {
      height: 100%;
    }

    .before_after_image_slide {
      border-radius: 5px 25px 5px 5px;
      overflow: hidden;
      position: relative;
      height: 100%;

      @include _1024 {
        border-radius: 10px, 36px, 10px, 10px;
      }

      img {
        height: 100% !important;
        object-fit: cover;
      }
    }
  }

  &__carusel {
    max-width: 584px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    @include retinacontainer-width(100%);

    @include _1024 {
      margin: 0;
      @include retinacontainer-width(calc(52%));
      max-width: 580px;
    }

    &wrapp {
      @include retinacontainer-height(78.4%);
      margin-bottom: 25px;

      @include _1024 {
        margin-bottom: 0;
      }
    }

    &__wrapper {
      @include retinacontainer-content;
    }

    .slick {
      &-list {
        margin: 0 -4px;
        height: 100%;

        @include _1024 {
          margin: 0 -8px;
        }
      }

      &-track {
        height: 100%;
      }
      &-slide {
        height: 100%;
        margin: 0 4px;

        @include _1024 {
          margin: 0 8px;
        }

        div {
          height: calc(50% - 7.5px);

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  &__image {
    display: block !important;
    height: 100%;
    border-radius: 5px 25px 5px 5px;
    object-fit: cover;

    @include _1024 {
      border-radius: 10px 36px 10px 10px;
    }
  }

  &__controllers {
    .carusel__btn {
      border: 1px solid $medium-color;
    }
    &.carusel__buttonwrapper {
      order: 5;

      @include _1024 {
        order: 6;
      }
    }
  }

  .carusel__accentbtn {
    overflow: hidden;
    order: 2;
    margin: 0;

    @include _1024 {
      order: 5;
    }

    &_text {
      max-width: 70px;

      @include _640 {
        max-width: fit-content;
      }
    }

    &_icon {
      @include _1024 {
        order: 3;
      }
    }
  }
}
