.portfolio {
  &.section {
    background-color: $semi-dark-color;
  }

  &.container {
    @include flex(space-between, center);
    flex-wrap: wrap;

    @include _1024 {
      align-items: flex-end;
    }
  }

  &__wrapp {
    width: 100%;
    @include flex(center, center, column);
    order: 4;

    @include _1024 {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 30px;
      margin-top: 39px;
    }
  }

  &__title {
    color: $light-color;
    order: 1;
    width: 50%;
    margin-bottom: 0px;
  }

  &__subtitle {
    @include font(13px, 600, $semi-medium-color, 112%);
    margin-bottom: 25px;
    margin-top: 14px;
    order: 3;

    @include _1024 {
      font-size: 16px;
      font-weight: 700;
      order: 2;
      width: 50%;
      text-align: end;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  &__animation {
    flex-shrink: 0;
    border-radius: 5px 25px 5px 5px;
    width: 100%;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;

    @include _1024 {
      max-width: 528px;
      max-height: 455px;
      height: auto;
      margin-right: 16px;
      width: 47%;
    }
  }

  &__image {
    border-radius: 5px 25px 5px 5px;

    @include _1024 {
      border-radius: 10px 36px 10px 10px;
    }

    &_wrapper {
      background-color: transparent;

      @include _1024 {
        @include flex(space-between, stretch, column);
      }
    }
  }

  &__subcaruselwrapp {
    @include retinacontainer-height(78.4%);
    margin-bottom: 25px;

    @include _1024 {
      margin-bottom: 0;
    }
  }

  .card {
    &__wrapper {
      @include retinacontainer-width(calc((100% - 8px) / 2));
    }
    &__inner {
      @include retinacontainer-height(161%);
    }
  }

  .carusel {
    max-width: 584px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    @include retinacontainer-width(100%);

    @include _1024 {
      margin-top: 0;
    }

    &__wrapper {
      width: 100%;
      margin-right: -8px;
      @include retinacontainer-content;
    }

    &__btn {
      border: 1px solid $medium-color;
    }
    &__buttonwrapper {
      order: 5;

      @include _1024 {
        order: 6;
      }
    }
    &__accentbtn {
      overflow: hidden;
      order: 2;
      margin: 0;

      @include _1024 {
        order: 5;
      }

      &_text {
        max-width: 70px;

        @include _640 {
          max-width: fit-content;
        }
      }

      &_icon {
        @include _1024 {
          order: 3;
        }
      }
    }
  }
}

.before_after_image_slide {
  display: block !important;
  max-width: 900px;
  margin: 0 auto;
}
