.services {
  &.section {
    background-color: $semi-dark-color;
  }

  &__title {
    color: $light-color;
    margin-bottom: 25px;

    @include _1024 {
      margin-bottom: 45px;
    }
  }
  &__wrapp {
    @include flex(center, center);
    flex-wrap: wrap;

    @include _1024 {
      margin-right: -16px;
      margin-bottom: -16px;
      width: 100%;
    }
  }

  &__card {
    @include retinacontainer-width(100%);
    margin-bottom: 8px;

    @include _640 {
      @include retinacontainer-width(calc((100% - 16px) / 2));
      margin-right: 16px;
      margin-bottom: 16px;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:hover .services__iconbtn {
        @include visible(flex);
      }
    }

    &_inner {
      @include retinacontainer-height(67%);
    }
    &_content {
      @include retinacontainer-content;
      @include flex(flex-end, flex-start, column);
      padding-top: 133px;
      padding-left: 17px;
      padding-right: 17px;
      padding-bottom: 13px;
      border-radius: 8px 25px 8px 8px;
      background-color: $light-color;

      @include _640 {
        padding-top: 78px;
      }

      @include _1024 {
        padding-left: 40px;
        padding-right: 50px;
        padding-bottom: 26px;
        padding-top: 44%;
        border-radius: 10px 36px 10px 10px;
      }
    }
  }

  &__imageblock {
    border-radius: 8px 25px 8px 8px;
    width: 100%;
    height: 71%;
    overflow: hidden;

    @include pos(absolute, 0, 0, 0);
    z-index: -1;

    @include _1024 {
      height: 75%;
    }

    &::before {
      content: '';
      display: block;
      @include pos(absolute, auto, 0, 0, 0);
      height: 47px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 85.95%
      );

      @include _1024 {
        height: 56%;
      }
    }
  }

  &__image {
    height: 99%;
    object-fit: cover;
  }

  &__name {
    @include font(15px, 600, $dark-color, 112%);
    margin-bottom: 9px;
    text-transform: uppercase;

    @include _1024 {
      font-size: 30px;
      margin-bottom: 16px;
    }
  }
  &__text {
    height: 28px;
    @include font(12px, 400, $dark-color, 112%);
    overflow: hidden;

    @include _425 {
      height: 40px;
    }

    @include _1024 {
      font-size: 14px;
      height: 48px;
    }
  }

  &__iconbtn {
    @include visible(flex);
    width: 39px;
    height: 39px;
    border-radius: 100%;
    background-color: $dark-color;
    @include flex();
    @include pos(absolute, 9px, 9px);
    z-index: 2;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $semi-dark-color;
      transform: translateY(-0.25rem);
    }

    @include _1024 {
      top: 17px;
      right: 21px;
      width: 55px;
      height: 55px;

      @include hidden();
    }
  }
  &__icon {
    height: 19px;
    width: 19px;
    stroke: none;
    fill: $light-color;

    @include _1024 {
      height: 27px;
      width: 27px;
    }
  }
}
