.button-text {
  @include button(false, $accent-color, 100px);
  @include flex();
  height: 39px;
  transition: all 0.2s linear;
  position: relative;

  *,
  & {
    @include font(13px, 600, $light-color, 100%);
    text-align: center;
  }

  @include _1024 {
    height: 50px;
    *,
    & {
      font-size: 16px;
      letter-spacing: 0.03em;
    }
  }

  &:hover {
    background-color: $medium-color;
  }
}

.button-icon {
  @include button(false, $semi-dark-color, 100px);
  width: 39px;
  height: 39px;
  @include flex();
  transition: all 0.2s linear;
  position: relative;

  &:hover {
    background-color: $semi-dark-color;
  }

  &:active {
    background-color: $dark-color;
  }

  * {
    fill: inherit;
  }

  @include _1024 {
    width: 50px;
    height: 50px;
  }
}
