.sectionarrowdown {
  width: 72px;
  height: 19px;
  @include сentering-x();
  bottom: -17px;

  background-image: url(../../static/svg/sectionarrowdown.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.light {
    background-image: url(../../static/svg/sectionarrowdown-light.svg);
  }
}
